pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - infrastructure
      - packer

trigger:
  branches:
    include:
      # trigger for merge queue branches
      - gh-readonly-queue/*
      - main
  paths:
    exclude:
      - infrastructure
      - packer

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/heads/main

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    globalVariables:
      - template: azure-pipelines-variables.yml@self
    validationJobs:
      - name: Run Linting & Tests
        steps:
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              path: $(npm_config_cache)
            displayName: Cache npm
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm ci
              environmentVariables:
                npm_config_cache: $(npm_config_cache)
          - template: ../steps/node_script.yml
            parameters:
              # only run commitlint on branches, not main
              condition: ne(variables['Build.SourceBranchName'], 'main')
              nodeVersion: 22
              script: npm run commitlint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run test
