pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2
  pipelines:
    - pipeline: build
      source: Build
      trigger:
        branches:
          include:
            - main

extends:
  template: stages/wrapper_cd.yml@templates
  parameters:
    variableGroupPrefix: 'cd'
    environments:
      - name: Dev
    deploymentStages:
      - name: Stage
        deploymentJobs:
          - name: stage App
            steps:
              - template: ../steps/azure_web_app_deploy_slot.yml
                parameters:
                  appName: pins-app-template-web-$(ENVIRONMENT)
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: devops/template
                  slot: staging
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: template staging slot
                  appUrl: $(deploySlotOutputs.slotUrl)/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
                  appRegistrationClientId: $(appRegistrationClientId)
                  auth_enabled: "true"
                  env: $(ENVIRONMENT)
      - name: Deploy
        dependsOn:
          - Stage
        deploymentJobs:
          - name: deploy App
            steps:
              - template: ../steps/azure_web_app_slot_swap.yml
                parameters:
                  appName: pins-app-template-web-$(ENVIRONMENT)
                  appResourceGroup: $(resourceGroup)
                  appStagingSlotName: staging
                  appTargetSlotName: production
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: template production slot
                  appUrl: $(WEB_URL)/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
                  appRegistrationClientId: $(appRegistrationClientId)
                  auth_enabled: "true"
                  env: $(ENVIRONMENT)
    globalVariables:
      - template: azure-pipelines-variables.yml@self
